.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 696px;
  margin: 45px 268px 45px 232px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-2 {
    margin-right: 168px;
    margin-left: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-2 {
    margin-right: 58px;
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 0;
  }
}