.u-section-1 .u-sheet-1 {
  min-height: 418px;
}

.u-section-1 .u-image-1 {
  width: 823px;
  height: 409px;
  margin: 0 auto 9px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 358px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 269px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 169px;
  }
}