.u-section-1 .u-sheet-1 {
  min-height: 429px;
}

.u-section-1 .u-image-1 {
  width: 1007px;
  height: 379px;
  margin: 25px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-image-1 {
    inset: auto;
    width: 940px;
    height: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 128px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 429px;
}

.u-section-2 .u-image-1 {
  width: 1017px;
  height: 382px;
  margin: 24px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 74px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
    height: 128px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 429px;
}

.u-section-3 .u-image-1 {
  width: 1017px;
  height: 383px;
  margin: 23px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 174px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 128px;
  }
}